.container{
    text-align: center;
    margin: 30px auto;
}

#timer{
    font-size: 36px;
    border: 1px solid #ccc;
    padding: 50px;
    background-color:#000;
    color:#fff;
    border-radius:10px;
    box-shadow:1px 1px 3px rgba(0,0,0,.4)
}

.btn{
    width: 100%;
}